@model UI.Models.UserLogin
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_LayoutIntroduce.cshtml";
}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="../../Content/cssMain.css" rel="stylesheet" />
<link href="../../Content/bootstrap.min.css" rel="stylesheet" />
<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="92543054677-o2h09g2o5d17fujhhhe3a65djgr508h7.apps.googleusercontent.com">
@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row" style="min-height:500px;">
        <div class="col-lg-3 col-sm-2 col-md-1 col-xs-1"></div>
        <div class="col-lg-6 col-sm-8 col-md-10 col-xs-10">
            <h2 style="color:#ffb0bd;text-align:center">ĐĂNG NHẬP</h2>
            @Html.TextBoxFor(model => model.UserName, new { @placeholder = "Tên đăng nhập ...", @class = "txt" })
            @Html.PasswordFor(model => model.Password, new { @placeholder = "Mật khẩu ...", @class = "txt" })
            <button type="submit" class="btn btn-login">ĐĂNG NHẬP</button>
            <a href="@Url.Action("ForgotPassword","User")">Quên mật khẩu?</a>
            <p>Hoặc đăng nhập với tài khoản</p>
            <button type="submit" class="btn btn-primary btn-classic">
                <a class="btn" href="/User/LoginFacebook" style="text-decoration:none;color:white;">
                    Đăng nhập bằng Facebook
                </a>
            </button>
            <div class="g-signin2" style="display:none;" data-onsuccess="onSignIn"></div>
            <button type="submit" class="btn btn-danger btn-classic" id="btnGoogle">Đăng nhập bằng Google</button>
            <div class="warning">
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })<br />
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })<br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger", @style = "list-style-type:none;" })
            </div>
        </div>
        <div class="col-lg-3 col-sm-2 col-md-1 col-xs-1"></div>
    </div>
}
<style>
    .txt {
        width: 100%;
        height: 40px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .btn-login {
        background-color: #ffb0bd;
        color: white;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .btn-classic {
        width: 100%;
        height: 50px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .warning {
        text-align: left;
    }

        .warning ul {
            list-style: none;
            margin-left: -40px;
        }
</style>

<script>
    function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());
        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
        var googleAC = [];
        googleAC.push({
            AccountId: profile.getId(),
            FullName: profile.getName(),
            Email: profile.getEmail(),
            IdToken: googleUser.getAuthResponse().id_token
        });
        $('#btnGoogle').click(function () {
            $.ajax({
                url: '/User/LoginGoogle',
                data: { googleACModel: JSON.stringify(googleAC) },
                dataType: 'json',
                type: 'POST',
                success: function (data) {
                    if (data.status == true) {
                        alert('Login Success');
                        window.location.href = "/";
                    }
                }
            });
        });
        
    }
</script>

