
@model IEnumerable<Model.ProductModel>

@{
    ViewBag.Title = "Tìm kiếm sản phẩm";
    Layout = "~/Views/Shared/_LayoutIntroduce.cshtml";
}
@helper Truncate(string input, int length)
{if (input.Length < length)
    {
        @input }
    else
    {
        @input.Substring(0, length)<text>...</text>}
}
<link href="../../Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/cssMain.css" rel="stylesheet" />
<script src="https://kit.fontawesome.com/c37e58ae3b.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

<h2 style="color:#ffb0bd;font-size:25px;margin-top:20px;padding-bottom:10px;border-bottom:1px solid #ffb0bd">SẢN PHẨM TÌM KIẾM</h2>


@{
    if (Model != null)
    {
        <div class="row" style="padding-top:10px">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-sm-6" style="padding-bottom:20px">
                    <img src="../../Content/Image/@item.Images" width="100%" height="200px" />
                    @*<h2><a href="@Url.Action("ThemGioHang", "GioHang", new { @ma=@item.MASP,@ur=Request.Url.ToString() })" style="color:white;text-decoration:none">MUA NGAY</a></h2>*@
                    <br />
                    <div class="tenSp"><a class="tenSp" href="@Url.Action("GetDetailProduct", "Product", new { id =item.ProductID })" class="tenSp">@Truncate(item.ProductName, 23)</a></div>
                    <h1 class="gia">@string.Format("{0:0,0}", item.Price) VNĐ</h1>
                </div>
            }
        </div>
    }
    else
    {
        <p>Không có sản phẩm dựa trên thông tin bạn muốn tìm</p>
    }
}

