@model List<UI.Models.CartItem>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
@using UI.Models
@*<div class="wrap-header-cart js-panel-cart">
        <div class="s-full js-hide-cart"></div>

        <div class="header-cart flex-col-l p-l-65 p-r-25">
            <div class="header-cart-title flex-w flex-sb-m p-b-8">
                <span class="mtext-103 cl2">
                    Giỏ hàng của bạn
                </span>

                <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                    <i class="zmdi zmdi-close"></i>
                </div>
            </div>

            <div class="header-cart-content flex-w js-pscroll">
                @if (@Model.Count() > 0)
                {
                    <ul class="header-cart-wrapitem w-full">
                        @foreach (var item in Model)
                        {
                            <li class="header-cart-item flex-w flex-t m-b-12">
                                <div class="header-cart-item-img">
                                    <img src="@HtmlHelperExtensions.ImageBookOrDefault(item.Product.ProductID,1)" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt p-t-8">
                                    <a href="/Assets/Customer/cozastore/#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                        @item.Product.ProductName
                                    </a>

                                    <span class="header-cart-item-info">
                                        @item.Quantity x @item.Product.Price.ToString("N0")
                                    </span>
                                </div>
                            </li>
                        }
                    </ul>

                    <div class="w-full">
                        <div class="header-cart-total w-full p-tb-40">
                            Thành tiền: @ViewBag.ThanhTien đồng
                        </div>

                        <div class="header-cart-buttons flex-w w-full">
                            <a href="@Url.Action("Index","Cart")" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                                Xem giỏ hàng
                            </a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>*@
<style>
    .cart {
        width: 40px;
        height: 40px;
        padding: 0;
        margin: 0;
        margin-top: 100px;
        position: absolute;
        left: 50%;
        margin-left: -20px;
        -moz-border-radius: 9999em;
        -webkit-border-radius: 9999em;
        border-radius: 9999em;
        border: none;
        background: #ffb0bd;
        cursor: pointer;
    }

        .cart:hover {
            -moz-box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.5);
            -webkit-box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.5);
        }

            .cart:hover .popup {
                visibility: visible;
                opacity: 1;
                pointer-events: auto;
                -webkit-animation-duration: 200ms;
                -webkit-animation-name: show-popup;
                -webkit-animation-direction: normal;
                -webkit-animation-timing-function: cubic-bezier(1, 0.18, 1, 0.93);
                -moz-animation-duration: 200ms;
                -moz-animation-name: show-popup;
                -moz-animation-direction: normal;
                -moz-animation-timing-function: cubic-bezier(1, 0.18, 1, 0.93);
                -o-animation-duration: 200ms;
                -o-animation-name: show-popup;
                -o-animation-direction: normal;
                -o-animation-timing-function: cubic-bezier(1, 0.18, 1, 0.93);
                animation-duration: 200ms;
                animation-name: show-popup;
                animation-direction: normal;
                animation-timing-function: cubic-bezier(1, 0.18, 1, 0.93);
            }

    /* popup window style */
    .popup {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        width: 250px;
        margin-left: -105px;
        margin-top: 20px;
        background: #ffffff;
        border: 1px solid #cbcbcb;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    }

        .popup:after {
            position: absolute;
            content: ' ';
            top: -30px;
            height: 30px;
            width: 100%;
        }

        .popup:before {
            position: absolute;
            content: ' ';
            left: 117px;
            top: -9px;
            width: 16px;
            height: 16px;
            border-top: 1px solid #cbcbcb;
            border-right: 1px solid #cbcbcb;
            background: #ffffff;
            -moz-box-shadow: 1px -1px 1px 0 rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 1px -1px 1px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 1px -1px 1px 0 rgba(0, 0, 0, 0.2);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

    /* data rows */
    .row {
        padding: 15px 20px;
        overflow: hidden;
    }

        .row.header {
            background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
            background-size: 100%;
            background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e7e7e7));
            background-image: -moz-linear-gradient(top, #ffffff 0%, #e7e7e7 100%);
            background-image: -webkit-linear-gradient(top, #ffffff 0%, #e7e7e7 100%);
            background-image: linear-gradient(to bottom, #ffffff 0%, #e7e7e7 100%);
            background-image: -ms-linear-gradient(top, #ffffff 0%, #e7e7e7 100%);
            -moz-box-shadow: 0 1px 0 0 rgba(203, 203, 203, 0.75);
            -webkit-box-shadow: 0 1px 0 0 rgba(203, 203, 203, 0.75);
            box-shadow: 0 1px 0 0 rgba(203, 203, 203, 0.75);
            -moz-border-radius: 5px 5px 0 0;
            -webkit-border-radius: 5px;
            border-radius: 5px 5px 0 0;
            color: #747474;
            text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75);
            font: bold 11px Arial;
        }

        .row.items {
            color: #e54040;
            font: bold 18px Arial;
            position: relative;
        }

            .row.items span:first-child {
                color: #000000;
            }

            .row.items:after {
                content: '';
                position: absolute;
                height: 1px;
                width: 100%;
                background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZGRkZGRkIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
                background-size: 100%;
                background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(50%, #dddddd), color-stop(100%, #ffffff));
                background-image: -moz-linear-gradient(left, #ffffff 0%, #dddddd 50%, #ffffff 100%);
                background-image: -webkit-linear-gradient(left, #ffffff 0%, #dddddd 50%, #ffffff 100%);
                background-image: linear-gradient(to right, #ffffff 0%, #dddddd 50%, #ffffff 100%);
                left: 0;
                top: 97%;
            }

        .row.checkout {
            font: normal 12px Arial;
        }

            .row.checkout span:first-child {
                padding: 3px 0;
            }

            .row.checkout a {
                color: #e54040;
                text-decoration: none;
            }

                .row.checkout a:hover {
                    text-decoration: underline;
                }

        .row span:first-child {
            float: left;
        }

        .row span:last-child {
            float: right;
        }

    .checkout-button {
        padding: 3px 5px;
        background: #e54040;
        -moz-box-shadow: inset 0 2px 7px 0 rgba(255, 255, 255, 0.3);
        -webkit-box-shadow: inset 0 2px 7px 0 rgba(255, 255, 255, 0.3);
        box-shadow: inset 0 2px 7px 0 rgba(255, 255, 255, 0.3);
        border: 1px solid #ffb0bd;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        color: #ffffff;
    }

        .checkout-button:hover {
            background: #ffb0bd;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .checkout-button:active {
            background: #ffb0bd;
            -moz-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        }

    .cart {
        /*background-image: url("../)*/
        background-repeat: no-repeat;
        background-position: center;
    }
</style>

<div class="cart">
    <div class="popup">
        <div class="row header">
            <span>Items</span>
            <span>Amount</span>
        </div>
        <div class="row items">
            <span>Macbook Pro</span>
            <span>$2,345.12</span>
        </div>

        <div class="row items">
            <span>Sony Vio</span>
            <span>$1,228.45</span>
        </div>

        <div class="row checkout">
            <span><a href="#">View Cart ></a></span>
            <span class="checkout-button">Checkout</span>
        </div>
    </div>
</div>