@model List<UI.Models.CartItem>
@using UI.Models
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_LayoutCategory.cshtml";
}

<h2 style="color:#ffb0bd;">GIỎ HÀNG</h2>
<p>(@ViewBag.TongSL sản phẩm)</p>
@{
    if (Model != null)
    {
    <table align="center" border="1" class="col-lg-12" style="padding-right:20px;">
        <tr style="background-color:#ffb0bd">
            <td>Sản phẩm</td>
            <td>Mô tả</td>
            <td>Số lượng</td>
            <td>Đơn giá</td>
            <td>Tổng</td>
            <td>Thao tác</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td><img src="~/Content/Image/@item.Product.Images" style="height:100px;width:100px;" /></td>
                <td><a href="@Url.Action("GetDetailProduct", "Product", new { @id = @item.Product.ProductID})">@item.Product.ProductName</a></td>
                @using (Html.BeginForm("UpdateItem", "Cart", new { productID = item.Product.ProductID }))
                {
                    <td>
                        <form><input type="number" min="1" max="100" name="txtSl" id="soLuong" value="@item.Quantity" style="width:30px;" /><input type="submit" value="+" /></form>
                    </td>
                    <td>@String.Format("{0:0,0}", item.Product.Price) VNĐ</td>
                    <td>@String.Format("{0:0,0}", item.Product.Price * item.Quantity) VNĐ</td>
                    <td>@Html.ActionLink("Xóa", "DeleteItem", new { @productID = item.Product.ProductID })</td>

                }
            </tr>
        }
    </table>
    <div class="row" style="padding-top:50px;">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 bg-light" >
            <table>
                <tr>
                    <td>Mã khuyến mãi:</td>
                    <td><a href="#">Chọn mã khuyến mãi áp dụng</a></td>
                </tr>
                <tr style="text-align:left; font-weight:bold">
                    <td>Thành tiền: </td>
                    <td><text name="tongThanhTien" id="tien" style="color:red"> @String.Format("{0:N0}", ViewBag.TongTien) VNĐ</text></td>
                </tr>
                <tr style="color:blue;font-weight:bold">
                    <td colspan="2">
                        <a href="@Url.Action("Index","Home")" class="btn btn-pink" style="width:45%">Tiếp tục mua sắm</a>
                        <a href="@Url.Action("Order","Cart")" class="btn btn-pink" style="width:45%">Thanh toán</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-2"></div>
    </div>
    }
    else
    {
        <p>Không có sản phẩm nào trong giỏ hàng.</p>
    }
}