@model IEnumerable<Model.ProductModel>

@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>QUẢN LÝ SẢN PHẨM</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr style="background-color:darkgrey;">
        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Statu)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @String.Format("{0:0,0}", item.Price) VNĐ
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statu)
            </td>
            <td>
                <button class="btn btn-primary">@Html.ActionLink("Edit", "Edit", new { id = item.ProductID }, new { @style = "color:white;" }) </button>
                <button class="btn btn-success">@Html.ActionLink("Details", "Details", new { id = item.ProductID }, new { @style = "color:white;" })</button>
                <button class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new { id = item.ProductID }, new { @style = "color:white;" })</button>
            </td>
        </tr>
    }

</table>
